@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400&display=swap");

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 24px 40px;
    background: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/fog--mist/foggy-morning-in-a-meadow.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    background-color: rgba(0, 0, 0);
}
